.movie {
  max-width: 650px;
  margin: 0 auto;
  border: 1px solid white;
  border-radius: 4px;
  margin-bottom: 12px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 10px -2px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.movie h2 {
  font-size: small;
  text-align: left;
  margin: 0;
  color: black;
}

.movie img {
  width: auto;
  height: 150px;
  border-radius: 4px;
}
