.search {
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;
  width: 200px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
}

.search-button {
  background-color: cornflowerblue;
  border: none;
  color: white;
  padding: 10px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: rgb(44, 89, 172);
  color: white;
  padding: 10px;
  margin: 4px 2px;
  border-radius: 4px;
  cursor: pointer;
}
